---
all:
  children:
    frontend:
      hosts:
        localhost:
          ansible_connection: local
          ansible_user: ubuntu
    
    backend:
      hosts:
        localhost:
          ansible_connection: local
          ansible_user: ubuntu
