---
# group_vars/all.yml and group_vars/backend.yml provide defaults; userdata passes extra-vars.
- name: Deploy Backend Application
  hosts: backend
  become: yes
  tasks:
    - name: Include common role (SSM fetch)
      include_role:
        name: common
    - name: Include backend role
      include_role:
        name: backend
    - name: Tag EC2 success
      include_tasks: ../tasks/ec2_tag_success.yml
