---
# group_vars/all.yml and group_vars/frontend.yml provide defaults; userdata passes extra-vars.
- name: Deploy Frontend Application
  hosts: frontend
  become: yes
  tasks:
    - name: Include common role (SSM fetch)
      include_role:
        name: common
    - name: Include frontend role
      include_role:
        name: frontend
    - name: Tag EC2 success
      include_tasks: ../tasks/ec2_tag_success.yml
