---
# Reusable Docker setup (used by frontend and backend roles)
- name: Install Docker
  yum:
    name: docker
    state: present
    update_cache: yes

- name: Install Docker Compose
  shell: |
    curl -sSL "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
    chmod +x /usr/local/bin/docker-compose
  args:
    creates: /usr/local/bin/docker-compose

- name: Start Docker service
  service:
    name: docker
    state: started
    enabled: yes
